html, body {
	height: 100%;
	width: 100%;
	color: #777777;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/ep_naturalwhite.png");
	/*margin-bottom: 80px;*/
}

/************* nav/header code ************/

.navbar {
	border-bottom: 2px solid #cccccc;
	position: relative;
	background-color: #fff;
}


#main-title {
	height: 100px;
	background-color: #4aaaa5;
	position: relative;
	right: 15px;
}

.name {
	color: #ffffff;
	font-size: 40px;
	line-height: 100px;
	margin: 0;
	padding: 0 15px;
}

ul.nav {
	height: 100px;
	position: relative;
}

.main-nav-links {
	white-space: pre;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}




/************* mid-section code ***********/

/************* main content code **********/

#main-content {
	border: 1px solid #dddddd;
	background-color: #fff;
	margin-bottom: 100px;
}

h1, h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}


/************* about me code **************/

#main-image {
	margin: 0 15px 15px 0;

}
/************* Portfolio code *************/
/************* contact code ***************/

/************* Connect code ***************/

.panel {
	border: 1px solid #dddddd;
	border-radius: 0;
}

.panel>.panel-heading {
	background-color: #fff;
	border:none;
}

hr {
	margin:0;
}

h2 {
	padding: 8px 0;
}

.connect-icon {
	/*width: 75%;*/
	height: 60px;
	width: 60px;

}

/************* Footer code ****************/

.footer {
	height: 80px;
	background-color: #666666;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 7px solid #4aaaa5;
	color: #ffffff;
}

h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	opacity: 0.7;
	line-height: 73px;
	margin: 0;
}